:root{
    --light-grey: #f5f5f5;
    --white: #ffffff;
    --orange: #fc9905;
    --violet: #4d099e;
    --blue: #154abd;
    --pink: #feddddf1;
    --red: #c41616;
    --dark-grey: #c4c3c0;
}
#logo{
    height: 7.8rem;
    width: 15rem;
    object-fit: contain;
}
.hero-banner{
    height: 35rem;
    width: 100%;
}
.dp{
    height: 15rem !important;
    width: 10rem;
    object-fit: cover;
}
.navbar-light .navbar-nav .nav-link{
     color: #0d6efd !important;
}
.active, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #1851a7 !important;
    font-weight: 500;
}
body{
    font-size: 17px;
}
.col-md-11, .col-md-10, .study-subjects {
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
}
.study-subjects{
    height: 5.3rem;
}
.activities{
    height: 19rem;
}
.career-prep{
    background-color: var(--pink);
}
.boxes{
    min-width: 5rem;
}
footer{
    text-align: center;
}
@media (max-width: 600px) {
    #logo {
        width: 10rem;
    }
    .hero-banner {
        height: 15rem;
    }

    .boxes div{
        width: 75%;
        text-align: center;
    }
    .bio-data{
        flex-direction: column !important;
    }
    .dp{
        height: 10rem !important;
        width: 8rem;
        object-fit: cover;
    }
}