:root{
    --light-grey: #f5f5f5;
    --white: #ffffff;
    --orange: #fc9905;
    --violet: #4d099e;
    --blue: #154abd;
    --pink: #feddddf1;
    --red: #c41616;
    --dark-grey: #c4c3c0;
}
header{
    display: flex;
    align-items: center;
    max-height: fit-content;
    min-height: 5rem;
    justify-content: space-around;
    position: sticky;
}
#logo{
    height: 7rem;
    width: 20rem;
    object-fit: cover;
    object-position: 15% 49%;
}
nav{
    display: inline !important;
}
nav>a{
    text-decoration: none;
    padding: 0 5px;
    cursor: pointer;
    font-size: 18px;
}
.col-md-11, .col-md-10, .study-subjects {
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
}
.activities{
    min-height: 25rem;
}

footer{
    text-align: center;
}